<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>task</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/endecrypt.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/endecryptTaskSave.js}"></script>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="body">
    <form class="form-horizontal" id="insertForm">
        <div class="form-group" style="position:relative">
            <label class="col-sm-2 control-label">任务ID</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="taskId"/>
            </div>
            <p id="existInfo" style="color: #a94442;padding: 5px;"></p>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">类型</label>
            <div class="col-sm-5">
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="typeOptions" id="typeRadio1" value="encrypt"/> 加密
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="typeOptions" id="typeRadio2" value="decrypt"/> 解密
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">输入信息</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputInfo"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">输出信息</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="outputInfo"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">启用</label>
            <div class="col-sm-5">
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="enabledOptions" id="enabledRadio1" value="yes"/> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="enabledOptions" id="enabledRadio2" value="no"/> 否
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="saveButton" type="button" class="btn btn-primary">保存</button>
                <button id="returnButton" type="button" class="btn btn-default" style="margin-left: 50px">返回</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>