<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>task</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/endecrypt.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-confirm.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-confirm.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/endecryptTask.js}"></script>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <nav class="navbar navbar-inverse" style="position: relative">
        <p style="color: white;position: absolute;top: 50%;transform: translateY(-50%);font-size: 20px;margin-left: 20px">加解密管理平台</p>
    </nav>
</div>
<div class="body">
    <div class="div-inline">
        <button type="button" id="insertButton" class="btn btn-default btn-sm" style="margin-top: 0px;">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <div class="retrieve">
        <div class="div-inline">
            <label>任务ID: </label>
        </div>
        <div class="div-inline calc-id">
            <input type="text" class="form-control" id="taskId"/>
        </div>
        <div class="div-inline">
            <button type="button" id="queryButton" class="btn btn-default btn-sm" style="margin-top: 0px;">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div>
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>任务ID</th>
                    <th>类型</th>
                    <th>输入信息</th>
                    <th>输出信息</th>
                    <th>是否启用</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="taskTable"></tbody>
        </table>
    </div>
</div>
</body>
</html>